<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Inspeção</title>
</head>
<body>

    <h1>Cadastrar Inspeção</h1>

    <form action="/inspecoes/cadastrar" method="POST">

        <label>Usuário:</label>

        <select name="usuario_id" required>

            {% for usuario in usuarios %}

            <option value="{{ usuario[0] }}">
                 {{ usuario[0] }} - {{ usuario[1] }}
            </option>

            {% endfor %}

        </select>

        <br><br>

        <label for="equipamento_id">Equipamento:</label>
        <select name="equipamento_id" required>

            {% for equipamento in equipamentos %}

            <option value="{{ equipamento[0] }}">
                {{ equipamento[0] }} - {{ equipamento[1] }}
            </option>

            {% endfor %}

        </select>

        <br><br>

        <label for="data_inspecao">Data:</label>
        <input type="date" id="data_inspecao" name="data_inspecao" required>

        <br><br>

        <label for="status">Status:</label>
        <select name="status" required>
            <option value="Pendente">Pendente</option>
            <option value="Aprovada">Aprovada</option>
            <option value="Reprovada">Reprovada</option>
        </select>

        <br><br>

        <label for="observacao">Observação:</label><br>
        <textarea id="observacao" name="observacao" rows="4" cols="40"></textarea>

        <br><br>

        <button type="submit">Cadastrar</button>

    </form>

</body>
</html>