<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos</title>
</head>
<body>
    <button onclick="history.back()">⬅ Voltar</button>

    <h1>Gerenciamento de Equipamentos</h1>

    <p>Escolha uma das opções abaixo.</p>

    <button onclick="window.location.href='/equipamentos/cadastrar'">
        Cadastrar
    </button>

    <button onclick="window.location.href='/equipamentos/listar'">
        Listar
    </button>
    
</body>
</html>