<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Inspecções</title>
</head>
<body>

    <h1>Sistema de Inspecções</h1>

    <p>Escolha um módulo:</p>

    <button onclick="window.location.href='/usuarios'">
       👤 Usuários
    </button>

    <br></br>

    <button onclick="window.location.href='/equipamentos'">
        💻 Equipamentos
    </button>

    <br></br>
    <button onclick="window.location.href='/inspecoes'">
        📋 Inspeções
    </button>
</body>
</html>