<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <button onclick="window.location.href='/'">Voltar para a página inicial</button>
    <h1>Gerenciamento de Usuários</h1>
    <p>>Escolha uma das opções abaixo.</p>
    <button onclick="window.location.href='/usuarios/cadastrar'">
        Cadastrar
    </button>
    <button onclick="window.location.href='/usuarios/listar'">
        Listar
    </button>
</body>
</html>